<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="tests.ReTryTestcases" />
    </listeners>
    <test name="Test1">
        <packages>
            <package name="tests" />
        </packages>
       
    </test>
</suite>