<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
<!--    <listeners>-->
<!--        <listener class-name="tests.ReTryTestcases" />-->
<!--    </listeners>-->
    <test name="InitialRun">
<!--        <packages>-->
<!--            <package name="tests" />-->
<!--        </packages>-->
        <classes>
            <class name="testrunner.TestRunner"/>
        </classes>
    </test>

    <test name="FailedTest">
        <parameter name="rerun" value="true" />
        <classes>
            <class name="testrunner.FailedTestRunner" />
        </classes>
    </test>
</suite>